@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
  margin: 0;
  font-family:  "Playfair";
  color: black;
}

.navbar img {
  padding: 0px;
  margin: 0px;
  width: 150px;
  height: 150px;
}

.navbar {
  display: flex;
  padding: 10px;
  margin-left: 350px;
  max-width: 800px;
  align-items: center;
  border-bottom: 2px solid #ACA9BB;
}

.navbar a {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid #E3F4F5;
  color: #E3F4F5;
}

.navbar a:hover {
  color: #909CB2;
  border-bottom: 2px solid #909CB2;
}

.navbar a:active {
  color: #C8C2E7;
  border-bottom: #C8C2E7;
}

.navbar .link {
  margin-left: auto;
}

.Content {
  padding: 10px;
  margin: 10px auto;
  max-width: 800px;
  background: #FDFEFE;
  opacity: 0.9;
}

.news-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-list {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px 15px;
  margin: 30px 0;
  margin-right: 32px;
  width: 25%;
  transition: 0.2s;
}
.news-list a {
  text-decoration: none;
}

.news-list h2 {
  font-size: 20px;
  color: #646172;
  margin-bottom: 8px;
  text-align: center;
}

.news-list p {
  text-align: center;
}

.news-list-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-around;
  margin-left: 35px;
}

.news-expand .news-expand-body {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}

.news-expand .news-expand-image {
  margin-bottom: 15px;
}
.news-expand .news-expand-image img {
  width: 720px;
  height: 420px;
  text-align: center;
  align-items: center;
  margin: auto;
  display: block;
  
}

.news-expand h1 {
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
  color: #434050;
}

.news-expand h4 {
  margin-bottom: 15px;
}

.news-expand mark {
  background: none;
}

.news-expand mark:hover {
  color: #909CB2;
  border-bottom: 2px solid #909CB2;
}

.news-expand-source {
  text-align: center;
}